:root{
    /** amber colors */
        --thrinkle-amber-50: #fffbeb;
        --thrinkle-amber-100: #fef3c7;
        --thrinkle-amber-200: #fde68a;
        --thrinkle-amber-300: #fcd34d;
        --thrinkle-amber-400: #fbbf24;
        --thrinkle-amber-500: #f59e0b;
        --thrinkle-amber-600: #d97706;
        --thrinkle-amber-700: #b45309;
        --thrinkle-amber-800: #92400e;
        --thrinkle-amber-900: #78350f;
        --thrinkle-amber-950: #451a03;
    /** amber colors */
}