:root{
    /** cyan colors */
        --thrinkle-cyan-50: #ecfeff;
        --thrinkle-cyan-100: #cffafe;
        --thrinkle-cyan-200: #a5f3fc;
        --thrinkle-cyan-300: #67e8f9;
        --thrinkle-cyan-400: #22d3ee;
        --thrinkle-cyan-500: #06b6d4;
        --thrinkle-cyan-600: #0891b2;
        --thrinkle-cyan-700: #0e7490;
        --thrinkle-cyan-800: #155e75;
        --thrinkle-cyan-900: #164e63;
        --thrinkle-cyan-950: #083344;
    /** cyan colors */
}