:root{
    /** emerald colors */
        --thrinkle-emerald-50: #ecfdf5;
        --thrinkle-emerald-100: #d1fae5;
        --thrinkle-emerald-200: #a7f3d0;
        --thrinkle-emerald-300: #6ee7b7;
        --thrinkle-emerald-400: #34d399;
        --thrinkle-emerald-500: #10b981;
        --thrinkle-emerald-600: #059669;
        --thrinkle-emerald-700: #047857;
        --thrinkle-emerald-800: #065f46;
        --thrinkle-emerald-900: #064e3b;
        --thrinkle-emerald-950: #022c22;
    /** emerald colors */
}