:root{
    /** gray colors */
        --thrinkle-gray-50: #f9fafb;
        --thrinkle-gray-100: #f3f4f6;
        --thrinkle-gray-200: #e5e7eb;
        --thrinkle-gray-300: #d1d5db;
        --thrinkle-gray-400: #9ca3af;
        --thrinkle-gray-500: #6b7280;
        --thrinkle-gray-600: #4b5563;
        --thrinkle-gray-700: #374151;
        --thrinkle-gray-800: #1f2937;
        --thrinkle-gray-900: #111827;
        --thrinkle-gray-950: #030712;
    /** gray colors */
}