:root{
    /** indigo colors */
        --thrinkle-indigo-50: #eef2ff;
        --thrinkle-indigo-100: #e0e7ff;
        --thrinkle-indigo-200: #c7d2fe;
        --thrinkle-indigo-300: #a5b4fc;
        --thrinkle-indigo-400: #818cf8;
        --thrinkle-indigo-500: #6366f1;
        --thrinkle-indigo-600: #4f46e5;
        --thrinkle-indigo-700: #4338ca;
        --thrinkle-indigo-800: #3730a3;
        --thrinkle-indigo-900: #312e81;
        --thrinkle-indigo-950: #1e1b4b;
    /** indigo colors */
}