:root{
    /** lime colors */
        --thrinkle-lime-50: #f7fee7;
        --thrinkle-lime-100: #ecfccb;
        --thrinkle-lime-200: #d9f99d;
        --thrinkle-lime-300: #bef264;
        --thrinkle-lime-400: #a3e635;
        --thrinkle-lime-500: #84cc16;
        --thrinkle-lime-600: #65a30d;
        --thrinkle-lime-700: #4d7c0f;
        --thrinkle-lime-800: #3f6212;
        --thrinkle-lime-900: #365314;
        --thrinkle-lime-950: #1a2e05;
    /** lime colors */
}