:root{
    /** neutral colors */
        --thrinkle-neutral-50: #fafafa;
        --thrinkle-neutral-100: #f5f5f5;
        --thrinkle-neutral-200: #e5e5e5;
        --thrinkle-neutral-300: #d4d4d4;
        --thrinkle-neutral-400: #a3a3a3;
        --thrinkle-neutral-500: #737373;
        --thrinkle-neutral-600: #525252;
        --thrinkle-neutral-700: #404040;
        --thrinkle-neutral-800: #262626;
        --thrinkle-neutral-900: #171717;
        --thrinkle-neutral-950: #0a0a0a;
    /** neutral colors */
}