:root{
     /** orange colors */
        --thrinkle-orange-50: #fff7ed;
        --thrinkle-orange-100: #ffedd5;
        --thrinkle-orange-200: #fed7aa;
        --thrinkle-orange-300: #fdba74;
        --thrinkle-orange-400: #fb923c;
        --thrinkle-orange-500: #f97316;
        --thrinkle-orange-600: #ea580c;
        --thrinkle-orange-700: #c2410c;
        --thrinkle-orange-800: #9a3412;
        --thrinkle-orange-900: #7c2d12;
        --thrinkle-orange-950: #431407;
    /** orange colors */
}