:root{
    /** pink colors */
        --thrinkle-pink-50: #fdf2f8;
        --thrinkle-pink-100: #fce7f3;
        --thrinkle-pink-200: #fbcfe8;
        --thrinkle-pink-300: #f9a8d4;
        --thrinkle-pink-400: #f472b6;
        --thrinkle-pink-500: #ec4899;
        --thrinkle-pink-600: #db2777;
        --thrinkle-pink-700: #be185d;
        --thrinkle-pink-800: #9d174d;
        --thrinkle-pink-900: #831843;
        --thrinkle-pink-950: #500724;
    /** pink colors */
}