:root{
    /** purple colors */
        --thrinkle-purple-50: #faf5ff;
        --thrinkle-purple-100: #f3e8ff;
        --thrinkle-purple-200: #e9d5ff;
        --thrinkle-purple-300: #d8b4fe;
        --thrinkle-purple-400: #c084fc;
        --thrinkle-purple-500: #a855f7;
        --thrinkle-purple-600: #9333ea;
        --thrinkle-purple-700: #7e22ce;
        --thrinkle-purple-800: #6b21a8;
        --thrinkle-purple-900: #581c87;
        --thrinkle-purple-950: #3b0764;
    /** purple colors */
}