:root{
    /** red colors */
        --thrinkle-red-50: #fef2f2;
        --thrinkle-red-100: #fee2e2;
        --thrinkle-red-200: #fecaca;
        --thrinkle-red-300: #fca5a5;
        --thrinkle-red-400: #f87171;
        --thrinkle-red-500: #ef4444;
        --thrinkle-red-600: #dc2626;
        --thrinkle-red-700: #b91c1c;
        --thrinkle-red-800: #991b1b;
        --thrinkle-red-900: #7f1d1d;
        --thrinkle-red-950: #450a0a;
    /** red colors */
}