:root{
    /** rose colors */
        --thrinkle-rose-50:#fff1f2;
        --thrinkle-rose-100:#ffe4e6;
        --thrinkle-rose-200:#fecdd3;
        --thrinkle-rose-300:#fda4af;
        --thrinkle-rose-400:#fb7185;
        --thrinkle-rose-500:#f43f5e;
        --thrinkle-rose-600:#e11d48;
        --thrinkle-rose-700:#be123c;
        --thrinkle-rose-800:#9f1239;
        --thrinkle-rose-900:#881337;
        --thrinkle-rose-950:#4c0519;
    /** rose colors */
}