:root{
    /** sky colors */
        --thrinkle-sky-50: #f0f9ff;
        --thrinkle-sky-100: #e0f2fe;
        --thrinkle-sky-200: #bae6fd;
        --thrinkle-sky-300: #7dd3fc;
        --thrinkle-sky-400: #38bdf8;
        --thrinkle-sky-500: #0ea5e9;
        --thrinkle-sky-600: #0284c7;
        --thrinkle-sky-700: #0369a1;
        --thrinkle-sky-800: #075985;
        --thrinkle-sky-900: #0c4a6e;
        --thrinkle-sky-950: #082f49;
    /** sky colors */
}