:root{
    /** slate colors */
        --thrinkle-slate-50: #f8fafc;
        --thrinkle-slate-100: #e2e8f0;
        --thrinkle-slate-200: #e2e8f0;
        --thrinkle-slate-300: #cbd5e1;
        --thrinkle-slate-400: #94a3b8;
        --thrinkle-slate-500: #64748b;
        --thrinkle-slate-600: #475569;
        --thrinkle-slate-700: #334155;
        --thrinkle-slate-800: #1e293b;
        --thrinkle-slate-900: #0f172a;
        --thrinkle-slate-950: #020617;
    /** slate colors */
}