:root{
    /** stone colors */
        --thrinkle-stone-50: #fafaf9;
        --thrinkle-stone-100: #f5f5f4;
        --thrinkle-stone-200: #e7e5e4;
        --thrinkle-stone-300: #d6d3d1;
        --thrinkle-stone-400: #a8a29e;
        --thrinkle-stone-500: #78716c;
        --thrinkle-stone-600: #57534e;
        --thrinkle-stone-700: #44403c;
        --thrinkle-stone-800: #292524;
        --thrinkle-stone-900: #1c1917;
        --thrinkle-stone-950: #0c0a09;
    /** stone colors */
}