:root{
    /** teal colors */
        --thrinkle-teal-50: #f0fdfa;
        --thrinkle-teal-100: #ccfbf1;
        --thrinkle-teal-200: #99f6e4;
        --thrinkle-teal-300: #5eead4;
        --thrinkle-teal-400: #2dd4bf;
        --thrinkle-teal-500: #14b8a6;
        --thrinkle-teal-600: #0d9488;
        --thrinkle-teal-700: #0f766e;
        --thrinkle-teal-800: #115e59;
        --thrinkle-teal-900: #134e4a;
        --thrinkle-teal-950: #042f2e;
    /** teal colors */
}