:root{
    /** violet colors */
        --thrinkle-violet-50: #f5f3ff;
        --thrinkle-violet-100: #ede9fe;
        --thrinkle-violet-200: #ddd6fe;
        --thrinkle-violet-300: #c4b5fd;
        --thrinkle-violet-400: #a78bfa;
        --thrinkle-violet-500: #8b5cf6;
        --thrinkle-violet-600: #7c3aed;
        --thrinkle-violet-700: #6d28d9;
        --thrinkle-violet-800: #5b21b6;
        --thrinkle-violet-900: #4c1d95;
        --thrinkle-violet-950: #2e1065;
    /** violet colors */
}