:root{
    /** yellow colors */
        --thrinkle-yellow-50: #fefce8;
        --thrinkle-yellow-100: #fef9c3;
        --thrinkle-yellow-200: #fef08a;
        --thrinkle-yellow-300: #fde047;
        --thrinkle-yellow-400: #facc15;
        --thrinkle-yellow-500: #eab308;
        --thrinkle-yellow-600: #ca8a04;
        --thrinkle-yellow-700: #a16207;
        --thrinkle-yellow-800: #854d0e;
        --thrinkle-yellow-900: #713f12;
        --thrinkle-yellow-950: #422006;
    /** yellow colors */
}