:root{
    /** zinc colors */
        --thrinkle-zinc-50: #fafafa;
        --thrinkle-zinc-100: #f4f4f5;
        --thrinkle-zinc-200: #e4e4e7;
        --thrinkle-zinc-300: #d4d4d8;
        --thrinkle-zinc-400: #a1a1aa;
        --thrinkle-zinc-500: #71717a;
        --thrinkle-zinc-600: #52525b;
        --thrinkle-zinc-700: #3f3f46;
        --thrinkle-zinc-800: #27272a;
        --thrinkle-zinc-900: #18181b;
        --thrinkle-zinc-950: #09090b;
    /** zinc colors */
}