@import url('./variables.css');
@import url('./entrance.css');
@import url('./exit.css');
/* Class applied only when component is completely prepared */
.animate-enter {
    /* visibility: visible; */
    animation-name: var(--thrinkle-animation-name,'slide-in-spring');
    animation-duration: var(--thrinkle-animation-duration,'450ms');
    animation-timing-function: var(--thrinkle-animation-timing-function,'cubic-bezier(0.34, 1.56, 0.64, 1)');
    animation-iteration-count: var(--thrinkle-animation-iteration-count,'1');
    animation-direction: var(--thrinkle-animation-direction,'forwards');
    animation-fill-mode: var(--thrinkle-animation-fill-mode,'both');
}